body {
  margin: 0;
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ef9085;
}
*{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  letter-spacing: 1px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

label{
  color: white;
}

.btn:hover{
  background-color: #ef9085 ;
  transition: 0.3s ease-in-out;
}

.card-header{
  text-align: center;
}

.nav-link:hover{
  opacity: 0.5;
  transition: 0.3s ease-in-out;
}